body{ margin: 0; padding: 0; min-width: 700px; font: 10px Georgia,Times, serif; color: #757575; line-height: 1.4em; background-color: #fff;}

.page-admin .page #header,.page-admin .page {width:1200px}
.page-admin .page #main {width:760px;}

p{margin: 0 0 12px; padding: 0; line-height:1.5em;}
li{list-style:none;}
img{border: 0; display: block}


tr,td{padding: .25em;}
td.icon{text-align: center;}
table{font-size:inherit; width: 100%;}
table tr.odd{background: #ddd;}

select,input,textarea{font:Verdana,Arial,Helvetica,sans-serif;}
select,input,textarea{font-family: Verdana,Arial,Helvetica,sans-serif; border:1px solid #A2A39F;}
pre{background: #ddd; border: 1px solid #aaa; padding: 0.75em 1.5em;}
pre,code{font:monospace; white-space:pre;}
pre,code{font-size:1.1em;}
fieldset{border: 1px solid #CCC; padding: 2px 10px 10px}
fieldset legend{color: #8a8a8a;}
embed{display:block;}
code{font-family: Profont,'lucida console','Courier New',Monaco,monospace;}
blockquote{border: 1px #ccc solid; margin: 0.5em 1em; padding: 0.3em; font-style: italic;}

div.view div.views-hide {display:block;}
div.view div.views-admin-links {font-size:inherit;margin-right:1em;margin-top:1em;width:400px;}
.tips {font-size:9px;}
.views-tabset {width:1000px;}

h5.title{}
h5,h5 a,h5 a:hover,.page h5,.page h5 a{font-family: Arial,Helvetica,sans-serif; font-size: 1.1em; font-weight: bold; color: #000; line-height: 1.2em; margin: 1.5em 0 0; display: inline;}
h5 a:hover,h5.title a:hover,.page h5 a:hover{color: #600;}
h5 a,h5.title a,.page h5 a{}

h4.title{}
h4,h4 a,h4 a:hover{font-family: Arial,Helvetica,sans-serif; font-size: 1.2em; font-weight: bold; color: #000; margin:.5em 0; line-height: 1.2em;}
.page #main h4,.page #sidebar-right h4{font-size:1.4em; font-weight: normal; margin-bottom: 6px;}

h3.title{}
h3,h3 a,h3 a:hover,.page h3,.page h3 a{font-family: Arial,Helvetica,sans-serif; font-size: 1.4em; font-weight: 100; color: #5d5a64; margin:.5em 0; line-height: 1.2em;}
h3 a:hover,h3.title a:hover,.page h3 a:hover{color: #600;}
h3 a,h3.title a,.page h3 a{}

h2.title{}
h2,.page h2{font-family: Arial,Helvetica,sans-serif; font-size:14px; color: #5d5a64; margin:1em 0 0; padding: 0; line-height: 1em; text-transform: uppercase; letter-spacing: .1em;}
h2 a:hover,h2.title a:hover,.page h2 a:hover{color: #600;}
h2 a,h2.title a,.page h2 a{}

h1{font-family: Arial,Helvetica,sans-serif; font-size: 2.2em; color: #77a4be; margin: 0 0 25px; line-height: 1.2em; text-transform: uppercase; letter-spacing: .1em;}
h1.title{}
h1 a:hover,h1.title a:hover,.page h1 a:hover{color: #600;}
h1 a,h1.title a,.page h1 a{}

.item-list ul{padding-left: 0px;}
.item-list ul li{margin-left: 0px;}
.item-list ul li{list-style: none;}
.inline{display: inline}

#header .block-menu li ul{clear:both; position: absolute; margin: 0; padding:0; z-index:100; width: 130px; left: -999em;}
#header .block-menu ul{list-style: none; line-height:1;font-family: Arial,Helvetica,sans-serif; padding:0; margin:0; *behavior: url(/sites/default/themes/corpsite/scripts/sunofsuckerfish.htc);}
#header .block-menu li{font-size: 1.1em; float: left; list-style: none; margin:0; padding:0;}
#header .block-menu li:hover,#header .block-menu li.sfhover{position:static;}

#header .block-menu li:hover ul ul,
#header .block-menu li:hover ul ul ul, 
#header .block-menu li.sfhover ul ul, #topnav .block-menu li.sfhover ul ul ul {left: -999em;}

#header .block-menu li:hover ul,
#header .block-menu li li:hover ul,
#header .block-menu li li li:hover ul, #header .block-menu li.sfhover ul,
#header .block-menu li li.sfhover ul, #header .block-menu li li li.sfhover ul {left: auto;}

#header .block-menu li ul ul{margin: -28px 0 0 120px;}
#header .block-menu li ul li{width:120px; border:1px solid #666; text-transform: capitalize; letter-spacing: 0; font-family: Verdana,Arial,Helvetica,sans-serif; background-color:#444;}
#header .block-menu li ul li.leaf a{background-image:none;}
#header .block-menu li ul li.expanded{background-image:url(images/right-on.gif); background-position:right; background-repeat:no-repeat;}
#header .block-menu li ul li a{text-transform: lowercase; letter-spacing: normal; font-size:11px; padding:8px 5px}
#header .block-menu li li{margin:0; padding:0 ;}
#header .block-menu li img{margin:6px 8px;}
#header .block-menu li a{display:block; margin:0; padding: 5px 12px; white-space:nowrap; text-decoration:none; text-transform: uppercase; letter-spacing: .1em;}
#header .block-menu li a:hover{color:#833;}
#header .block-menu h2.title{display: none}
#header .block-menu a.active{color:#78a439; font-weight: normal; border-bottom: 1px dotted #78a439}
#header .block-menu li.first a{ padding-left: 0; }

#footer-wrapper{margin:50px 0 100px 200px;}
#footer-wrapper .footer{height: 24px; color: #fff; margin: 0 200px 8px 0; border-bottom: 1px solid #ccc;}
#footer-wrapper .footer a{color: #999; font-weight: normal; margin: 8px; text-decoration:none;}
#footer-wrapper .footer a:hover{color: #5fc5ff;}
#footer-wrapper .footer .links{color: #fff; padding-top: 5px; margin:0 auto;}

#flashcontent{margin:0; padding:0; float:none;}

#container{margin-top: 0px; padding: 0;}

#breadcrumb{margin:22px 0 0;}
#breadcrumb a{color:#339;}

.page{background: url(images/bk-masthead.png) 42px 15px no-repeat;width:1000px; padding: 0 0 50px 0; /*margin: 0 auto;*/}
.page li{list-style:none; list-style-image:none;}
.page a{color:#1590aa; text-decoration:none; padding: 2px;}
.page a.active{color:#000; font-weight: bold}

.page #topbar #logo{ padding: 45px 0 0; margin:0 0 7px 220px; }
.page #topbar #logo a{display: block; padding: 0; margin:0}

.page #sidebar-right{width:200px; margin:0; float:right;}
.page #sidebar-right .squeeze{margin:0;float:none;}
.page #sidebar-left{width:150px; margin:0; padding: 0 0 0 50px;float: left; font-size: 1.1em;}
.page #sidebar-left .squeeze{margin:0;float:none;}
.page #main{width:560px; margin:0; font-size:1.1em; padding: 0 20px 0 20px;float: left;}
.page #main.no-right-column{width:770px; margin:0;float: left;}
.columns-wrapper{clear:both; margin: 0; padding: 0;}

/*.page #sidebar-right .block{margin: 0; width:200px;}
.page #sidebar-left  .block{margin: 0; width:150px;}
*/
.page #main ul{margin: 0; padding-left: 20px;}
.page #main li{padding-bottom: 8px;}
.page #main .view ul{padding-left: 0;}
.page #main .sitemap ul{list-style: none; padding: 0;}
.page #main .sitemap ul ul{list-style: none; padding-left: 15px;}
.page #main .sitemap ul ul li a{text-decoration: none; color: #4596C4; font-weight: normal}
.page #main .sitemap ul ul li a:hover{color: #fff;}
.page #main .sitemap ul li{padding: 0; text-transform: capitalize}
.page #main .sitemap ul li a{text-decoration: none; color: #068f00; padding: 2px; display: block}
.page #main .sitemap ul li a:hover{color: #fff}
.page #main .L1block.news_coverage ul{padding:0 0 0 23px;}
.page #main .L1block.news_coverage li{color:#fff; list-style-image:url(images/bk-bullets-blue.png);}
.page #main .L1block .view{margin:0; padding:11px 0;}
.page #main .L1block .itemline{padding:0 0 16px 13px; border-right:1px solid #2467c1; overflow:hidden;}
.page #main .content{margin:0; line-height: 1.8em;}
.page #main .content .content{margin:0;}
.page #image-headers .image-headers-wrapper .top-right{float:left; margin:0; padding:0;}
.page #image-headers .image-headers-wrapper .top-left{float:left; margin:0; padding:0;}
.page #header{margin: 0 0 60px 220px; min-height: 60px; width:1000px; overflow:hidden;}
/*.page #header .block-menu li ul.menu li a:hover{color: #fff;}*/
.page #footer-wrapper .by-studiomodule{color:#1a4071; margin-left: 250px; font-size:.9em;}

.page .testimonial-block .testimonial-item {margin:25px 0 0 0 ;}
.page .testimonial-block{margin:86px 0 0 0;}
.page .testimonial-block div.testimonial{margin:0; padding:0; border:none; font-size:1.4em;}
.page .testimonial-block .testimonial.originator-name p{line-height:1em; padding-bottom:0;}
.page .testimonial-block .testimonial.originator-job-title p{line-height:1em; padding-left:.5em;}
.page .testimonial-block .testimonial span.hang-quote{display:block; float:left; width:10px; color:#3380ff;}
.page .testimonial-block .testimonial span.quote-separator{margin:0 0 0 10px}

.page .testimonial-block .testimonial p{color:#3380ff; letter-spacing: 0; padding: 0 20px .2em 0; margin: 0; width:167px; display:block; line-height: 1.2em; float:left;}
.page .testimonial-block .testimonial p.sIFR-replaced{display:block; float:left; text-indent:1em;}
.page .testimonial-block .testimonial p.sIFR-replaced object{display:block;}

.page .l1-logo{margin:4px 0 0 47px;}
.page .columns-wrapper{margin:0;}

.page .block-search h2{margin: 0; font-size: 11px;}
.page .block-search .container-inline div,.page .block-search .container-inline label {display:block;}
.page .block-search .container-inline {clear:both;overflow:hidden; }
.page .block-search .container-inline .form-item{float:left;margin:0; padding:0;}
.page .block-search .container-inline .float-wrapper{float:left;margin:0; padding:0}
.page .block-search .container-inline .float-wrapper input{float:none;margin:2px 0 0 10px; padding:0; border:none}




body.front #sidebar-left{ padding: 0 0 0 150px; width:230px;}
body.front #main{ width:250px; margin:100px 0 0; }
body.front #main .content { line-height: 1.6em;}
body.front #sidebar-right{width:250px; margin-right: 50px;}
body.front #topbar #logo { padding:50px 0 0; margin-left: 150px;}
body.front .page { background: url(images/home-montage-1.jpg) 36px 92px no-repeat; margin:0 }
body.front #header { margin:0; height: 350px }
body.front #header #block-menu-primary-links { margin-left: 150px; }
#homepage #logo-title img{padding:0; margin:0 ;}
#homepage #block-block-5{width:220px; text-align:right; padding:20px 20px 20px 0; margin:15px 0 0 0 ;}
#homepage #block-block-5 img{padding:3px; vertical-align:text-top; margin: 0 0 0 16px}
#homepage #block-block-5 a{color:#FFFFFF; font-size:1.2em}
#homepage .testimonial-block{margin:55px 0 0 0;}
#homepage .testimonial-block .testimonial p{color:#0f4d99; width:280px;}
#homepage .L1block h3{width:168px; margin:0; padding:14px 0 7px 12px; color:#fff;}
#homepage .L1block a{color:#2467c1;}
#homepage .home-feature{color:#fff; padding:20px;}
#homepage .home-feature div{margin-bottom:15px; font-size:1.1em;}
#homepage .home-feature a{color:#fff;}
#homepage .home-feature .thmbnail{width:160px; border:7px solid #3c3154; margin-left:-7px;}
#homepage .home-feature .thmbnail img{margin:0 auto;}
#homepage .copyright{color:#c1daf9;}

#home-left-nav{margin:40px 0 0 0;}
#home-flash{margin:0; padding:0; float:left; width:724px;}

.L1block{float:left; margin:0;}
.L1block.news_coverage{width: 200px;}
.L1block.events{width: 191px; padding-right:10px;}

.itemline .location-date{float:left; width:60px; color:#2467c1; text-transform:uppercase}
.itemline .location-date .item-venue{}
.itemline .location-date .item-date{color:#2467c1; text-transform:uppercase}
.itemline .location-date .item-city{}
.itemline .item-text{float:left; width:113px;}
.itemline .item-text .title{color:#fff;}


.group-top-images .form-item{float:left; width:190px; margin:20px 4px}
.group-top-images .fieldset-wrapper{clear:both;}

.dotted-horizontal{background-image:url(images/dotted-horizontal.gif); background-repeat:repeat-x; height:6px; margin:10px 0pt 20px; width:70px;}
.copyright{color:#265fa5; padding: 0 0 0 8px; font-size:.9em}
.clear-both{line-height:0px; overflow:hidden; clear:both; height:0; margin:0; padding:0; border:none;}
.admin-theme .columns-wrapper .column .squeeze dl.admin-list{margin: 0 0 0 20px;}
.admin-theme .columns-wrapper .column .squeeze dl.admin-list dt{margin:10px 0 0 0; font-weight:bold;}


.page .block .view-calls-to-action a{color: #fff;font-weight: normal;text-decoration: none;}
.page .block .view-calls-to-action ul{margin:0; padding:0;}
.page .block .view-calls-to-action li{list-style:none;background-color:#b5481d;}
.page #sidebar-right .view-calls-to-action li { margin:0 0 5px; padding: 0 20px;  }
.page .block .view-calls-to-action li:hover{list-style:none;background-color:#930;}
.page .block .view-calls-to-action li .views-field-field-link-url{font-size: 1.4em;display: block;color: #fff;padding:8px 0 12px;margin:0;font-weight: normal;white-space: nowrap;}
.page .block .view-calls-to-action li .views-field-field-link-url a { padding: 0 }


/** views-related styles **/
.view-highlights table thead th,
.view-upcoming-events table thead th { border-bottom: 1px dotted #23afff  }
.view-highlights table tbody,
.view-upcoming-events table tbody { border: none;  }
.view-highlights table tr,
.view-upcoming-events table tr { vertical-align: top; background-color: transparent; border-bottom: 1px dotted #eee;  }
.view-highlights table td,
.view-upcoming-events table td { padding: 5px 3px;  }
.view-highlights table .views-field-title a,
.view-upcoming-events table .views-field-title a{ display: block; padding: 0 }
.view-highlights td.views-field-field-date-value,
.view-upcoming-events td.views-field-field-date-time-value { width: 80px }